* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
   
  }
  
  .header {

    display: flex; 
    background-color: rgba(31, 108, 123, 0.879);
    justify-content: space-around;  
    align-items: center; 
    margin-bottom: 20px;
  }
  
  .title {
    margin-left: 100px;
    font-size: 2rem;
    font-weight: bold;
    color: 'blueviolet';
    margin-left: 20 ;
  }
  
  .search-bar {
    width: 35%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;

  }
  
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
    background-color: #ded9d2;
  }
  
  .tab {
    color: black;
    background-color:  #ded9d2;
    border: 0;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: underline;
  }
  
  .tab:hover {

    opacity: 0.3;
  
  }
  
  .events-container {
    padding-left: 150px;
    display: flex;
    align-content: center;
    justify-content: 'space-between';
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .event-card {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .welcome {
    color: white;
    padding-left: 50;

  }
  .welcome-text {
    color: white;
    padding-left: 50;
  }
  
  .event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .event-card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .event-card p {
    font-size: 1rem;
    color: #555;
  }
  
  .event-card .event-date {
    font-size: 0.9rem;
    color: #777;
    margin-top: 10px;
  }
  
  .event-card .event-status {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
  }

.footer {
   text-align: center;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    bottom: 0; 
    left: 0;
    width: 100%; 
    background-color: rgba(31, 108, 123, 0.879);
    padding: 20px;
    text-align: center;
    z-index: 1000; 
}
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer a {
    color:  rgba(31, 108, 123, 0.879);
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  .create-event {
    position: fixed;
    z-index: 1000;
    right: 0;
    margin-left: 90;
    position: 'fixed';
    z-index: 1000;

    justify-content: flex-end;
    padding-left: 1200px;
    padding-top: 50px
  }

  .event-button {
    background-color: rgba(31, 108, 123, 0.879);
    right: 0;
    z-index: 1000;
    border: 0.5;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
  