* {
  align-items: 'center';
  justify-content: 'center';
}
.form-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(31, 108, 123, 0.879);
  }
  
  .horizontal-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-row .form-group {
    flex: 1;
    margin-right: 15px;
  }
  
  .form-row .form-group:last-child {
    margin-right: 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-style:oblique
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: rgba(31, 108, 123, 0.879);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  